[submodule "glad"]
	path = extlib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
[submodule "sdl"]
	path = extlib/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "stb"]
	path = extlib/stb
	url = https://github.com/nothings/stb.git
[submodule "glm"]
	path = extlib/glm
	url = https://github.com/g-truc/glm.git
